apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ deployment_name }}
  namespace: {{ namespace }}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: {{ app_name }}
  template:
    metadata:
      labels:
        app: {{ app_name }}
    spec:
      containers:
      - name: {{ container_name }}
        image: {{ image }}
        ports:
        - containerPort: {{ port }}

        {% if cpu_request or memory_request %}
        resources:
          requests:
            {% if cpu_request %}
            cpu: {{ cpu_request }}
            {% endif %}
            {% if memory_request %}
            memory: {{ memory_request }}
            {% endif %}
        {% endif %}